<% include partials/header %>

            <!-- Section: Edit Account -->
            <section class="section">
                <!-- First row -->
                <div class="row">
                    <!-- Jumbotron -->
                    <div class="card card-image" style="background-image: url(http://www.360ak.net/wp-content/uploads/2016/09/maxresdefault-1127.jpg);">
                    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                    <div class="py-5">

                        <!-- Content -->
                        <h5 class="h5 orange-text"><i class="fa fa-book"></i> Online Reading</h5>
                        <h2 class="card-title h2 my-4 py-2">READ! It's Fun.</h2>
                        <p class="mb-4 pb-2 px-md-5 mx-md-5">This is online reading, a website where you can read your favorite books. </p>
                        <a class="btn peach-gradient"><i class="fa fa-clone left" href="/books"></i> See Books</a>

                    </div>
                    </div>
                    </div>
                    <!-- Jumbotron -->
                </div>
                <!-- /.First row -->
            </section>
            <!-- /.Section: Edit Account -->
            <!-- Section: Blog v.1 -->
<section class="my-5">

<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-center my-5">Recently Added</h2>
<!-- Section description -->
<p class="text-center w-responsive mx-auto mb-5">The latest of the books added to the Online Reading archive</p>

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4">

    <!-- Featured image -->
    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4" style="width: 300px">
      <img class="img-fluid" src="https://onlinereading.sfo2.digitaloceanspaces.com/<%= book[0].imageName %>">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-7">

    <!-- Category -->
    <a href="#!" class="green-text">
      <h6 class="font-weight-bold mb-3"><i class="fa fa-navicon pr-2"></i><%= book[0].genre %></h6>
    </a>
    <!-- Post title -->
    <h3 class="font-weight-bold mb-3"><strong><%= book[0].title %></strong></h3>
    <!-- Excerpt -->
    <p><%= book[0].description %></p>
    <!-- Post data -->
    <p>by <a><strong><%= book[0].author %></strong></a>, <%= book[0].date %></p>
    <!-- Read more button -->
    <a class="btn btn-success btn-md" href="/books/read/<%= book[0].id %>">Read</a>

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<hr class="my-5">

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-7">

    <!-- Category -->
    <a href="#!" class="blue-text">
      <h6 class="font-weight-bold mb-3"><i class="fa fa-navicon pr-2"></i><%= book[1].genre %></h6>
    </a>
    <!-- Post title -->
    <h3 class="font-weight-bold mb-3"><strong><%= book[1].title %></strong></h3>
    <!-- Excerpt -->
    <p><%= book[1].description %></p>
    <!-- Post data -->
    <p>by <a><strong><%= book[1].author %></strong></a>, <%= book[1].date %></p>
    <!-- Read more button -->
    <a class="btn btn-success btn-md" href="/books/read/<%= book[1].id %>">Read</a>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4">

    <!-- Featured image -->
    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4" style="width: 300px">
      <img class="img-fluid" src="https://onlinereading.sfo2.digitaloceanspaces.com/<%= book[1].imageName %>">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<hr class="my-5">

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4">

    <!-- Featured image -->
    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4" style="width: 300px">
      <img class="img-fluid" src="https://onlinereading.sfo2.digitaloceanspaces.com/<%= book[2].imageName %>">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-7">

    <!-- Category -->
    <a href="#!" class="red-text">
      <h6 class="font-weight-bold mb-3"><i class="fa fa-navicon pr-2"></i><%= book[2].genre %></h6>
    </a>
    <!-- Post title -->
    <h3 class="font-weight-bold mb-3"><strong><%= book[2].title %></strong></h3>
    <!-- Excerpt -->
    <p><%= book[2].description %></p>
    <!-- Post data -->
    <p>by <a><strong><%= book[2].author %></strong></a>, <%= book[2].date %></p>
    <!-- Read more button -->
    <a class="btn btn-success btn-md" href="/books/read/<%= book[2].id %>">Read</a>

  </div>

</div>
<!-- Grid row -->

</section>
<!-- Section: Blog v.1 -->


<% include partials/footer %>