<% include partials/header %>

<blockquote class="blockquote mb-0 card-body">
      <p>“I've noticed that everyone who is for abortion has already been born.”</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Quote from President <cite title="Source Title">Ronald Reagan</cite>
        </small>
      </footer>
</blockquote>
</div>

<br>

<!-- Table with panel -->
<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header young-passion-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
      <a href="/books/onepage" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <i class="fa fa-th-large mt-0"></i>
      </a>
      <a href="/books" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <i class="fa fa-columns mt-0"></i>
      </a>
    </div>

    <a href="" class="white-text mx-3">Search Results:</a>

    <div>

    </div>

  </div>
  <!--/Card image-->

  <div class="px-4">

    <div class="table-wrapper">
      <!--Table-->
      <table class="table table-hover mb-0">

        <!--Table head-->
        <thead>
          <tr>
            <th>
              Read
            </th>
            <th class="th-lg">
              <a>Cover
                <i class="fa fa-picture-o ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a>Title
                <i class="fa fa-bookmark ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Author
                <i class="fa fa-users ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Rating
                <i class="fa fa-star ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Genre
                <i class="fa fa-navicon ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Pages
                <i class="fa fa-sort-numeric-desc ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Publisher
                <i class="fa fa-home ml-1"></i>
              </a>
            </th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <% for(var i = 0;i < results.length;i++){ %>
          <tr>
            <th scope="row">
                <a class="btn-floating btn-sm blue-gradient" href="/books/read/<%= results[i].id %>"><i class="fa fa-book"></i></a>
            </th>
            <td><img src="https://onlinereading.sfo2.digitaloceanspaces.com/<%= results[i].imageName %>" style="width: 50px;height: 62px;" /></td>
            <td><%= results[i].title %></td>
            <td><%= results[i].author %></td>
            <td><% if(results[i].rating >= 0.1 && results[i].rating <= 1.9){ %>
            <ul class="rating">
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
        </ul>
        <% }else if(results[i].rating == 0){ %>
            <ul class="rating">
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
        </ul>
         <% }else if(results[i].rating <= 2.9 && results[i].rating >= 2){ %>
            <ul class="rating">
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
        </ul>
        <%  }else if(results[i].rating <= 3.9 && results[i].rating >= 3){ %>
            <ul class="rating">
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
        </ul>
       <%   }else if(results[i].rating <= 4.9 && results[i].rating >= 4){ %>
            <ul class="rating">
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star-o"></i>
            </li>
        </ul>
         <% }else if(results[i].rating == 5){ %>
            <ul class="rating">
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i>
            </li>
        </ul>
         <% }else if(results[i].rating == null){ %>
         <ul class="rating">
         <li>
           <i class="fa fa-star-o"></i>
         </li>
         <li>
           <i class="fa fa-star-o"></i>
         </li>
         <li>
           <i class="fa fa-star-o"></i>
         </li>
         <li>
           <i class="fa fa-star-o"></i>
         </li>
         <li>
           <i class="fa fa-star-o"></i>
         </li>
     </ul> 
     <% } %></td>
            <td><% if(results[i].fiction == "Fiction"){ %>
            <span class="badge badge-pill badge-dark"><%= results[i].fiction %></span>
            <% }else{ %>
            <span class="badge badge-pill badge-light"><%= results[i].fiction %></span>
            <% } %>
                 <span class="badge badge-pill badge-primary"><%= results[i].genre %></span></td>
            <td><%= results[i].pageCount %></td>
            <td><%= results[i].publisher %></td>
          </tr>
        <% } %>
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>

  </div>

</div>
<!-- Table with panel -->
<br>
<% include partials/footer %>